/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #333;
    overflow-x: hidden;
    overflow-y: scroll;
}

main{
    margin-bottom: 10em;
}

.headerhome{
    height: 70vh;
}

header>p{
    text-transform: uppercase;
    position: relative;
    left: 3vw;
    /* width: 23%; */
}

h1{
    position: relative;
    font-size: 3em;
    color: white;
    z-index: -1;
}

h2{
    font-size: 2em;
    color: white;
}

h3{
    color: #fbbc53;
}

p{
    color: white;
}

a{
    color: #f13a3a;
}

/*//////////////////*/
/*/ BACKGROUND /*/
/*//////////////////*/

body main #backgroundimg div{
    position: fixed;
    z-index: -3;
    user-select: none;
}

body main #backgroundimg div svg{
    height: calc(10vw + 5em);
    width: auto;
}

body main #backgroundimg div path{
    stroke: #2d2d2d;
}

body main #backgroundimg div svg:nth-of-type(2){
    position: relative;
    left: calc(-3vw - 1em);
}

body main #backgroundimg div:nth-of-type(1){
    top: 62vh;
    left: 8vw;
}
body main #backgroundimg div:nth-of-type(2){
    top: 1vh;
    left: 1vw;
}
body main #backgroundimg div:nth-of-type(3){
    top: 70vh;
    left: 58vw;
}
body main #backgroundimg div:nth-of-type(4){
    top: 34vh;
    left: 35vw;
}
body main #backgroundimg div:nth-of-type(5){
    top: 15vh;
    right: 8vw;
}


.menu {
    background-color: rgba(20, 20, 20, 0.9);
    overflow-x: visible;
    display: flex;
}

/* Basic styling for the navigation */
.menu ul {
    margin: 0 auto 0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.menu ul li {
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
}

.menu>ul li>a, .menu>ul li>p {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0px 5px;
    margin: 15px 20px;
    position: relative;
    z-index: 2;
}

.menu ul li ul li a{
    margin: 5px 20px;
}

.menu>ul li>a:after, .menu>ul li>p:after{
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 60%;
    background: #f13a3a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu>ul li>a:hover:after, .menu>ul li>p:hover:after{
    width: 100%; 
    left: 0; 
}

/* Styling for the submenu */
.menu ul ul {
    z-index: 3;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222;
    /* display: block; */
}

.menu ul ul li {
    display: block;
}

/* Show submenu on hover */
.menu ul li:hover > ul {
    display: block;
    width: 16em;
}

.menu{
    position: relative;
    height: 5em;
}

.menu img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3vw;
    width: 5em;
    height: auto;
}

.phonemenu{
    display: none;
}

@media screen and (max-width: 62em) {
    .menu{
        display: none;
    }

    .phonemenu {
        display: flex;
        justify-content: end;
        background-color: rgba(20, 20, 20, 0.9);
        overflow-x: visible;
        height: 5em;
    }
    
    .phonemenu>ul {
        padding-right: 0em; 
    }

    .phonemenu ul {
        list-style: none; 
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
        text-align: end;
    }
    
    .phonemenu ul li {
        display: table-cell; 
        position: relative; 
    }

    .phonemenu ul li ul li{
        padding: 15px 0;
    }
    
    .phonemenu>ul li>a, .phonemenu>ul li>div {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 0px 5px;
        margin: 15px 20px;
        position: relative;
        z-index: 2;
    }
    
    .phonemenu ul li ul li a{
        margin: 5px 20px;
    }
    
    /* .phonemenu>ul li>a:after, .phonemenu>ul li>div:after{
        z-index: -1;
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 60%;
        background: #f13a3a;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .phonemenu>ul li>a:hover:after, .phonemenu>ul li>div:hover:after{
        width: 100%; 
        left: 0; 
    } */
    
    /* Styling for the submenu */
    .phonemenu ul ul {
        z-index: 3;
        display: none;
        position: absolute;
        top: 80%;
        transform: translateX(-65%);
        background-color: #222222;
        width: 16em;
        /* display: block; */
    }
    
    .phonemenu ul ul li {
        display: block;
        width: 100%;
    }
    
    /* Show submenu on hover */
    .phonemenu ul li:hover > ul {
        display: block;
        width: 16em;
    }
    
    .phonemenu{
        position: relative;
    }
    
    .phonemenu img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5vw;
        width: 5em;
        height: auto;
    }

    .phonemenu div{
        height: 2em;
        width: 3em;
        background: linear-gradient(180deg, #fff 15%, #00000000 15%, #00000000 42.5%, #fff 42.5%, #fff 57.5%, #00000000 57.5%, #00000000 85%, #fff 85%);
    }
}



/*//////////////////*/
/*/ TWEEDE HEADER /*/
/*//////////////////*/

.submenu1-content {
    align-items: center;
}

#tweedeheader {
    height: 50vh;
    width: 40em;
}

#tweedeheader img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    z-index: -2;
}

#tweedeheader div{
    position: relative;
    left: 3vw;
    top: 2em;
}

/*//////////////////*/
/*/ STREEP /*/
/*//////////////////*/

.streepflex{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.streep{
    height: 2px;
    width: 40vw;
    background-color: #fff;
}

@media screen and (max-width: 95em) {
    .streep{
        width: calc(40vw + 10em)
    }
}





/*//////////////////*/
/*/ HOMEDIV /*/
/*//////////////////*/


.homediv {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.homediv>div{
    width: 40vw;
}

#meesterjeroen>div, #budopak>div, #vallen>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
}

#meesterjeroen img, #budopak img, #vallen img{
    margin-right: 1em;
    height: 15em;
}

.homediv p{
    margin: 0.4em 0;
}

#budopak{
    margin-bottom: 5em;
}

@media screen and (max-width: 95em) {
    .homediv>div{
        width: calc(40vw + 10em)
    }
}

@media screen and (max-width: 62em) {
    #meesterjeroen>div, #budopak>div {
        flex-direction: column-reverse;  
    }

    #vallen img{
        width: calc(40vw + 10em);
        height: auto;
    }
}






/*//////////////////*/
/*/ OVER ONS /*/
/*//////////////////*/

#overons .overonsdiv {
    margin-top: 2em;
}

#overons .overonsdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#overons .overonsdiv div {
    width: 40vw;
}

#overons .overonsdiv div p{
    margin: 0.6em 0;
}







/*//////////////////*/
/*/ VAKANTIE ROOSTER /*/
/*//////////////////*/

#vakantierooster{
    /* VAKANTIE ROOSTER AAN = Display flex 
    VAKANTIE ROOSTER UIT = Display none */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
}

#vakantierooster h3{
    margin-top: 1em;
}



/*//////////////////*/
/*/ LESROOSTER /*/
/*//////////////////*/

#roosters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
}

#roosters ul {
    margin: 0 auto 0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    width: 26em;
    text-align: center;
    flex-direction: column;    
}

#roosters>ul>li {
    display: table-cell; 
    position: relative; 
    margin: 10px 0;
    padding: 2em;
}

#roosters ul li>h3 {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;
}

#roosters ul li>h3:after {
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 60%;
    background: #f13a3a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#roosters ul:has(#schagen:hover) #schagen h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#callantsoog:hover) #callantsoog h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#tzand:hover) #tzand h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#petten:hover) #petten h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#annapaulowna:hover) #annapaulowna h3:after{
    width: 100%; 
    left: 0; 
}

#roosters>ul>li>ul {
    display: none;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222;
    /* display: block; */
}

#roosters .active ul{
    display: block;
}

#roosters ul ul li {
    display: block;
}

/* Show submenu on hover */
#roosters ul li:hover > ul {
    display: block;
}

#roosters .dag{
    padding: 1em 0;
}

#roosters .dag li{
    padding: 0.5em 0;
}

#roosters .dag p:hover{
    font-weight: bold;
}

#roosters .locatie{
    background: linear-gradient(180deg, #222222 97%, #fbbc53 97%);
}






/*//////////////////*/
/*/ CONTACT /*/
/*//////////////////*/

#contact main #contactdiv{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact main a{
    color: #f13a3a;
}

#contact main #contactdiv ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact main #contactdiv ul li{
    padding: 0.6em;
}



/*//////////////////*/
/*/ Inschrijven /*/
/*//////////////////*/

#inschrijven main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inschrijven main>div:first-of-type {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#inschrijven main div div p{
    width: 40em;
    word-wrap: break-word;
}

#inschrijven main p{
    padding: 1em 0;
}

#inschrijven main a{
    color: #f13a3a;
}

#inschrijven main div:first-of-type>div:nth-of-type(1){
    margin-top: 1em;
}

#inschrijven main div:first-of-type>div:nth-of-type(2){
    margin-top: 2em;
}




/*//////////////////*/
/*/ CONTRIBUTIE /*/
/*//////////////////*/

#contributie main #table{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contributie main table{
    width: 40em;
    padding-bottom: 5em;
}

#contributie main table tbody .tableheader{
    display: flex;
    align-items: center;    
}

#contributie main table h3{
    margin-right: 0.5em;
}

#contributie main table tbody tr td{
    color: white;
    padding: 0.3em 0;
}



/*//////////////////*/
/*/ NIEUWS /*/
/*//////////////////*/

#nieuws main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nieuws main>div{
    margin-top: 2em;
}

#nieuws #silvio {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nieuws #silvio>div{
    width: 60vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-around; */
}

#nieuws #silvio img{
    margin-right: 1em;
    height: 30em;
}

#nieuws #silvio div div:nth-of-type(2){
    width: 35em;
}




/*//////////////////*/
/*/ EVENEMENTEN /*/
/*//////////////////*/

#evenementen main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#evenementen main>div:first-of-type {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#evenementen main div div p{
    width: 40em;
    word-wrap: break-word;
}

#evenementen main a{
    color: #f13a3a;
}

#evenementen main div:first-of-type>div{
    margin-top: 2em;
}





/*//////////////////*/
/*/ GRADUATIE EISEN /*/
/*//////////////////*/

.graduatieeisendiv{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.graduatieeisendiv div{
    width: 40vw;
}

#Banden1{
    display: none;
}

/* #Banden{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
}

#Banden a{
    color: #f13a3a;
}

#Banden ul {
    margin: 0 auto 0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    width: 26em;
    text-align: center;
    flex-direction: column;    
}

#Banden>ul>li {
    display: table-cell; 
    position: relative; 
}

#Banden h3 {
    margin-top: 1em;
}

#Banden ul li>h4 {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0px 5px;
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    color: #fbbc53;
}

#Banden ul li>h4:after {
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 15px;
    left: 50%;
    position: absolute;
    top: 60%;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    display: block;
}

#Banden ul li:nth-of-type(1)>h4:after {
    background: #fff;
}
#Banden ul li:nth-of-type(2)>h4:after {
    background: #ffd900;
}
#Banden ul li:nth-of-type(3)>h4:after {
    background: #ff4800;
}
#Banden ul li:nth-of-type(4)>h4:after {
    background: #006d05;
}
#Banden ul li:nth-of-type(5)>h4:after {
    background: #101eec;
}
#Banden ul li:nth-of-type(6)>h4:after {
    background: #382315;
}
#Banden ul li:nth-of-type(7)>h4:after {
    background: linear-gradient(90deg, #fff 18%, #ffd900 18%, #ffd900 34%, #ff4800 34%, 
    #ff4800 50%, #006d05 50%, #006d05 66%, #101eec 66%, #101eec 82%,
    #382315 82%, #382315 100%); 
}

#Banden ul li>h4:hover:after{
    width: 100%; 
    left: 0; 
}

#Banden .bandkleur:has(:hover) h4:after{
    width: 100%; 
    left: 0; 
}

#Banden .bandkleur:has(.showgraduaties:hover) h4:after{
    width: 100%; 
    left: 0; 
}

#Banden>ul>li>ul {
    display: none;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222222;
    margin-bottom: 1em;
    display: block;
}

#Banden ul ul li {
    display: block;
}

#Banden ul li:hover > ul {
    display: block;
}

#Banden .showgraduaties{
    padding: 1em 0;
}

#Banden .showgraduaties li{
    padding: 0.5em 0;
} */
    

/*//////////////////*/
/*/ FOTOS /*/
/*//////////////////*/
#fotosgalerij {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#fotosgalerij .row{
    margin-top: 1em;
}

#fotos .image {
    position: relative;
}
    
#fotos .image:hover:after {
    position: absolute;
    content: attr(title);
    display: inline-block;
    left: 0px;
    top: 0px;
    padding: 5px;
    background-color: black;
    color: white;
}

#fotos .column:hover .title {
/*becomes visible on hover*/
    opacity: 1;        
}

#fotos #fotosgalerij .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#fotos #fotosgalerij .column {
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
}

#fotos #fotosgalerij .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
#fotos #fotosgalerij .column {
    flex: 20%;
    max-width: 20%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
#fotos #fotosgalerij .column {
    flex: 25%;
    max-width: 25%;
}
}








/*//////////////////*/
/*/ FOOTER /*/
/*//////////////////*/

footer {
    position: fixed;
    bottom: 0;
    height: 2.5em;
    background-color: #222222;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

footer a{
    color: white;
}

footer a:hover{
    color: #f13a3a;
}

.footerphone1, .footerphone2 {
    display: none;
}

@media screen and (max-width: 1000px) {
    .footer, .footerphone2{
        display: none;
    }

    .footerphone1{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .footer, .footerphone1{
        display: none;
    }

    .footerphone2{
        display: block;
    }
}
