:root {
    --kleur-text:#ffffff;
    --kleur-link: #f55757; 
    --kleur-h3: #fbbc53;
    --achtergrond-kleur: #333333;
    --kanji-kleur: #2d2d2d;
    --achtergrond-kleur-menu: #222222;
    --achtergrond-kleur-hoofdmenu: #1b1b1b;
    --kleur-hoverlijn: #f13a3a;
    --onzichtbaar: #00000000;
}

.darkmode {
    --kleur-text:#000000;
    --kleur-link: #22285f; 
    --kleur-h3: #323385;
    --achtergrond-kleur: #ffffff;
    --kanji-kleur: #efefef;
    --achtergrond-kleur-menu: #dfdfdf;
    --achtergrond-kleur-hoofdmenu: #cccccc;
    --kleur-hoverlijn: #f13a3a;
    --onzichtbaar: #00000000;
}

#dark-mode-toggle, #dark-mode-toggle-phone{
    display: flex;
    align-items: center;
}

#dark-mode-toggle div, #dark-mode-toggle-phone div{
    width: 2em;
    height: 1em;
    background-color: var(--kleur-h3);
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: var(--achtergrond-kleur);
    overflow-x: hidden;
    overflow-y: scroll;
}

main{
    margin-bottom: 10em;
}

.headerhome{
    height: 70vh;
}

header>p{
    text-transform: uppercase;
    position: relative;
    left: 3vw;
    /* width: 23%; */
}

h1{
    position: relative;
    font-size: 3em;
    color: var(--kleur-text);
    z-index: -1;
}

h2{
    font-size: 2em;
    color: var(--kleur-text);
}

h3{
    color: var(--kleur-h3);
}

p{
    color: var(--kleur-text);
    line-height: 1.3;
}

a{
    color: var(--kleur-link);
}

/*//////////////////*/
/*/ BACKGROUND /*/
/*//////////////////*/

body main #backgroundimg div{
    position: fixed;
    z-index: -3;
    user-select: none;
    width: max-content;
}

body main #backgroundimg div svg{
    height: calc(10vw + 6em);
    width: auto;
}

body main #backgroundimg div path{
    stroke: var(--kanji-kleur);
}

body main #backgroundimg div svg:nth-of-type(2){
    position: relative;
    left: calc(-3vw - 1em);
}

body main #backgroundimg div:nth-of-type(1){
    top: 52vh;
    left: 8vw;
}
body main #backgroundimg div:nth-of-type(2){
    top: 1vh;
    left: 1vw;
}
body main #backgroundimg div:nth-of-type(3){
    bottom: 10vh;
    right: 4vw;
}
body main #backgroundimg div:nth-of-type(4){
    top: 34vh;
    left: 35vw;
}
body main #backgroundimg div:nth-of-type(5){
    top: 15vh;
    right: 8vw;
}




/*//////////////////*/
/*/ MENU /*/
/*//////////////////*/


.menu {
    background-color: var(--achtergrond-kleur-hoofdmenu);
    overflow-x: visible;
    display: flex;
}

/* Basic styling for the navigation */
.menu ul {
    margin: 0 auto 0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.menu ul li {
    display: table-cell; 
    position: relative; 
    padding: 15px 0;
}

.menu>ul li>a, .menu>ul li>p {
    color: var(--kleur-text);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 0px 5px;
    margin: 15px 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.menu ul li ul li a{
    margin: 5px 20px;
}

.menu>ul li>a:after, .menu>ul li>p:after{
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    top: 80%;
    background: var(--kleur-hoverlijn);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu>ul li>a:hover:after, .menu>ul li>p:hover:after{
    width: 100%; 
    left: 0; 
}

/* Styling for the submenu */
.menu ul ul {
    z-index: 300;
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--achtergrond-kleur-menu);
    width: 16em;
    box-shadow: -10px 10px 30px #00000071;
    /* display: block; */
}

/* .menu ul li ul{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
} */

.menu ul ul li {
    display: block;
}

.menu .active ul{
    display: block;
}

/* Show submenu on hover */
.menu ul li:hover > ul, .menu ul li:focus-within > ul {
    display: block;
}

.menu{
    position: relative;
    height: 5em;
}

.menu img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3vw;
    width: 5em;
    height: auto;
}

.phonemenu{
    display: none;
}

@media screen and (max-width: 62em) {
    #uitopmobiel{
        display: none;
    }

    .menu{
        display: none;
    }

    .phonemenu {
        display: flex;
        justify-content: end;
        background-color: var(--achtergrond-kleur-hoofdmenu);
        overflow-x: visible;
        height: 5em;
    }
    
    .phonemenu>ul {
        padding-right: 0em; 
    }

    .phonemenu ul {
        list-style: none; 
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
        text-align: end;
    }
    
    .phonemenu ul li {
        display: table-cell; 
        position: relative; 
    }

    .phonemenu ul li ul li{
        padding: 15px 0;
    }
    
    .phonemenu>ul li>a, .phonemenu>ul li>div {
        color: var(--kleur-text);
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.15em;
        display: inline-block;
        padding: 0px 5px;
        margin: 15px 20px;
        position: relative;
        z-index: 2;
    }
    
    .phonemenu ul li ul li a{
        margin: 5px 20px;
    }
    
    /* .phonemenu>ul li>a:after, .phonemenu>ul li>div:after{
        z-index: -1;
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 50%;
        position: absolute;
        top: 60%;
        background: var(--kleur-hoverlijn);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    
    .phonemenu>ul li>a:hover:after, .phonemenu>ul li>div:hover:after{
        width: 100%; 
        left: 0; 
    } */
    
    /* Styling for the submenu */
    .phonemenu ul ul {
        z-index: 3;
        display: none;
        position: absolute;
        top: 80%;
        right: 0;
        background-color: var(--achtergrond-kleur-menu);
        width: 16em;
        box-shadow: -10px 10px 10px #00000071;
        /* display: block; */
    }
    
    .phonemenu ul ul li {
        display: block;
        width: 100%;
    }
    
    /* Show submenu on hover */
    .phonemenu ul .active > ul{
        display: block;
        width: 16em;
    }
    
    .phonemenu{
        position: relative;
    }
    
    .phonemenu img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5vw;
        width: 5em;
        height: auto;
    }

    .phonemenu>ul>li>div{
        cursor: pointer;
        height: 2em;
        width: 3em;
        background: linear-gradient(180deg, var(--kleur-text) 15%, var(--onzichtbaar) 15%, var(--onzichtbaar) 42.5%,
        var(--kleur-text) 42.5%, var(--kleur-text) 57.5%, var(--onzichtbaar) 57.5%, var(--onzichtbaar) 85%, var(--kleur-text) 85%);
    }
}







/*//////////////////*/
/*/ ZIJKANT LOCATIES /*/
/*//////////////////*/

.zijkantlocaties{
    top: 7em;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.zijkantlocaties a{
    text-decoration: none;
}

.zijkantlocaties a {
    background: linear-gradient(180deg, var(--achtergrond-kleur-menu) 97%, var(--kleur-h3) 97%);
    width: 20em;
    padding: 0.5em 2em;
    margin: 0.8em 0;
    position: relative;
    height: 6em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000071;
}

.zijkantlocaties a:hover {
    background: linear-gradient(180deg, var(--achtergrond-kleur-menu) 97%, var(--kleur-hoverlijn) 97%);
}

.zijkantlocaties a div div{
    display: none;
    position: fixed;
    z-index: -1;
}

@media screen and (max-width: 87em) {
    .zijkant{
        display: flex;
        justify-content: center;
        margin-top: 2em;
    }

    .zijkantlocaties{
        /* top: 7em; */
        position: initial;
        display: flex;
        flex-direction: unset;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width: calc(10em + 40vw);
    }

    .zijkantlocaties a{
        width: 48%;
    }

}

@media screen and (max-width: 63em) {
    .zijkantlocaties a{
        width: 100%;
    }
}

@media screen and (min-width: 87em) {
    .zijkantstreep{
        display: none;
    }
}

@media screen and (max-width: 87em) {
    .zijkantstreep{
        display: flex;
        justify-content: center;
        margin: 2em 0;
    }
}





/* .zijkantlocaties .zijdiv:after{
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "Klik voor rooster";
    display: block;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 60%;
    background: var(--kleur-hoverlijn);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.zijkantlocaties .zijdiv:hover:after{
    width: 100%; 
    left: 0; 
} */


/* .menu>ul li>a:after, .menu>ul li>p:after{
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 10px;
    left: 50%;
    position: absolute;
    top: 60%;
    background: var(--kleur-hoverlijn);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menu>ul li>a:hover:after, .menu>ul li>p:hover:after{
    width: 100%; 
    left: 0; 
} */













/*//////////////////*/
/*/ TWEEDE HEADER /*/
/*//////////////////*/

.submenu1-content {
    align-items: center;
}

#tweedeheader {
    height: 50vh;
    width: 40em;
}

#tweedeheader img {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 60vh;
    z-index: -2;
}

#tweedeheader div{
    position: relative;
    left: 3vw;
    top: 2em;
}

/*//////////////////*/
/*/ STREEP /*/
/*//////////////////*/

.streepflex{
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.streep{
    height: 2px;
    width: 40vw;
    background-color: var(--kleur-text);
}

@media screen and (max-width: 95em) {
    .streep{
        width: calc(40vw + 10em)
    }
}





/*//////////////////*/
/*/ HOMEDIV /*/
/*//////////////////*/


.homediv {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.homediv>div{
    width: 40vw;
}

#meesterjeroen>div, #budopak>div, #vallen>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
}

#vallen div div{
    width: 100%;
}

#vallen img{
    margin-top: 0.5em;
}

#meesterjeroen img, #budopak img, #vallen img{
    margin-right: 1em;
    height: 15em;
}

#budopak{
    margin-bottom: 5em;
}

@media screen and (max-width: 95em) {
    .homediv>div{
        width: calc(40vw + 10em)
    }
}

@media screen and (max-width: 62em) {
    #meesterjeroen>div, #budopak>div {
        flex-direction: column-reverse;  
    }

    #vallen img{
        width: calc(40vw + 10em);
        height: auto;
    }
}






/*//////////////////*/
/*/ OVER ONS /*/
/*//////////////////*/

#overons .overonsdiv {
    margin-top: 2em;
}

#overons .overonsdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#overons .overonsdiv div {
    width: 40vw;
}

@media screen and (max-width: 95em) {
    #overons .overonsdiv>div{
        width: calc(40vw + 10em)
    }
}

@media screen and (max-width: 62em) {
    #meesterjeroen>div, #budopak>div {
        flex-direction: column-reverse;  
    }
}







/*//////////////////*/
/*/ VAKANTIE ROOSTER /*/
/*//////////////////*/

#vakantierooster{
    /* VAKANTIE ROOSTER AAN = Display flex 
    VAKANTIE ROOSTER UIT = Display none */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
}

#vakantierooster h3{
    margin-top: 1em;
}



/*//////////////////*/
/*/ LESROOSTER /*/
/*//////////////////*/

#roosters{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    margin-top: 2em;
}

#roosters ul {
    margin: 0 auto 0; 
    padding: 0; 
    list-style: none; 
    display: flex;
    text-align: center;
    flex-direction: column;    
}

#roosters>ul>li {
    display: table-cell; 
    position: relative; 
    margin: 10px 0;
    padding: 2em 0;
    width: calc(30vw + 10em);
    cursor: pointer;
}

#roosters ul li>h3 {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;
}

#roosters ul li>h3:after {
    z-index: -1;
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 50%;
    position: absolute;
    top: 50%;
    background: var(--kleur-hoverlijn);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#roosters ul:has(#schagen:hover) #schagen h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#callantsoog:hover) #callantsoog h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#tzand:hover) #tzand h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#petten:hover) #petten h3:after{
    width: 100%; 
    left: 0; 
}
#roosters ul:has(#annapaulowna:hover) #annapaulowna h3:after{
    width: 100%; 
    left: 0; 
}

#roosters>ul>li>ul {
    display: none;
    position: relative;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    /* display: block; */
}

#roosters .active ul{
    display: block;
}

#roosters ul ul li {
    display: block;
}

@media screen and (min-width: 999px) {
    #roosters ul li:hover > ul {
        display: block;
    }
}

#roosters .dag{
    padding: 1em 0;
}

#roosters .dag li{
    padding: 0.5em 0;
}

#roosters .dag p:hover{
    font-weight: bold;
}

#roosters .locatie>p{
    padding: 0 2em;
}

#roosters .locatie{
    background: linear-gradient(180deg, var(--achtergrond-kleur-menu) 97%, var(--kleur-h3) 97%);
    box-shadow: 0px 0px 10px #00000071;
}

@media screen and (max-width: 700px) {
    #roosters>ul>li {
        width: 88vw;
        padding: 2em 1em;
    }

    #roosters>p{
        width: 85vw;
        text-align: center;
    }
}





/*//////////////////*/
/*/ CONTACT /*/
/*//////////////////*/

#contact main #contactdiv{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact main a{
    color: var(--kleur-link);
}

#contact main #contactdiv ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#contact main #contactdiv ul li{
    padding: 0.6em;
}

#contact main #linksdiv{
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact main a{
    color: var(--kleur-link);
}

#contact main #linksdiv ul{
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#contact main #linksdiv ul li{
    padding: 0.6em;
}



/*//////////////////*/
/*/ Inschrijven /*/
/*//////////////////*/

#inschrijven main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#inschrijven main>div:first-of-type {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#inschrijven main div div p{
    width: 40em;
    word-wrap: break-word;
}

#inschrijven main p{
    padding: 1em 0;
}

#inschrijven main a{
    color: var(--kleur-link);
}

#inschrijven main div:first-of-type>div:nth-of-type(1){
    margin-top: 1em;
}

#inschrijven main div:first-of-type>div:nth-of-type(2){
    margin-top: 2em;
}

@media screen and (max-width: 800px) {
    #inschrijven main div div{
        width: calc(50vw + 8em);
    }

    #inschrijven main div div p{
        width: calc(50vw + 8em);
    }
}




/*//////////////////*/
/*/ CONTRIBUTIE /*/
/*//////////////////*/

#contributie main #table{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contributie main table{
    width: 32em;
    padding-bottom: 5em;
}

#contributie main table tbody .tableheader{
    display: flex;
    align-items: center;    
}

#contributie main table h3{
    margin-right: 0.5em;
}

#contributie main table tbody tr td{
    color: var(--kleur-text);
    padding: 0.3em 0;
}

@media screen and (max-width: 800px) {
    #contributie main table tbody tr{
        display: flex;
        flex-direction: column;
        padding: 0.3em 0;
    }

    #contributie main table tbody tr td{
    padding: 0;
    }

    #contributie main #table{
        margin-top: 2em;
        display: block;
        margin-left: 2em;
        width: 80vw;
    }

    #contributie main table{
        width: 80vw;
    }
    
}


/*//////////////////*/
/*/ NIEUWS /*/
/*//////////////////*/

#nieuws main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#nieuws main>div{
    margin-top: 2em;
}

#nieuws #silvio {
    margin-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nieuws #silvio>div{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#nieuws #silvio img{
    height: 30em;
}

#nieuws #silvio div div:nth-of-type(2){
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    #nieuws #silvio>div{
        width: calc(40vw + 10em);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    #nieuws #silvio img{
        width: calc(40vw + 10em);
        height: auto;
    }
}




/*//////////////////*/
/*/ EVENEMENTEN /*/
/*//////////////////*/

#evenementen main {
    display: flex;
    align-items: center;
    justify-content: center;
}

#evenementen main>div:first-of-type {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#evenementen main div div p{
    width: 40em;
    word-wrap: break-word;
}

#evenementen main a{
    color: var(--kleur-link);
}

#evenementen main div:first-of-type>div{
    margin-top: 2em;
}

@media screen and (max-width: 800px) {
    #evenementen main div div{
        width: calc(50vw + 8em);
    }

    #evenementen main div div p{
        width: calc(50vw + 8em);
    }
}





/*//////////////////*/
/*/ GRADUATIE EISEN /*/
/*//////////////////*/

.graduatieeisendiv{
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.graduatieeisendiv div{
    width: 40vw;
}

#Banden1{
    display: none;
}

@media screen and (max-width: 95em) {
    .graduatieeisendiv>div{
        width: calc(40vw + 10em)
    }
}







    

/*//////////////////*/
/*/ FOTOS /*/
/*//////////////////*/
#fotosgalerij {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

#fotosgalerij .row{
    margin-top: 1em;
}

#fotos #fotosgalerij .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
#fotos #fotosgalerij .column {
    flex: 15%;
    max-width: 15%;
    padding: 0 4px;
}

.column img:not(.enlarged) {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
#fotos #fotosgalerij .column {
    flex: 33%;
    max-width: 33%;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
#fotos #fotosgalerij .column {
    flex: 50%;
    max-width: 50%;
}
}

.image-container {
    display: flex;
    text-align: center;
    margin-top: 50px;
}

.image:hover:not(.enlarged) {
    scale: 1.1;
    box-shadow: 0px 0px 30px #000000b4;
}

.image{
    cursor: pointer;
}

.enlarged {
    cursor: pointer;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: auto;
    height: 80%;
    z-index: 9999;
    object-fit: cover;
}

div:has(.enlarged):after {
    cursor: pointer;
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: 7000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
.enlarged {
    width: 80%;
    height: auto;
}
}



/*//////////////////*/
/*/ THUIS FILMPJES /*/
/*//////////////////*/

#filmpjes .filmdiv {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

#filmpjes .filmdiv>div{
    width: 40vw;
}

#filmpjes .filmdiv div div{
    display: flex;
    flex-direction: column;
}

#filmpjes .filmdiv a{
    margin: 0.2em 0;
}

#filmpjes .streep{
    height: 2px;
    width: 40vw;
    background-color: var(--kleur-text);
}

@media screen and (max-width: 85em) {
    #filmpjes .filmdiv div{
        width: calc(50vw + 8em);
    }

    #filmpjes .filmdiv div p{
        width: calc(50vw + 8em);
    }

    #filmpjes .streep{
        width: calc(50vw + 8em)
    }
}







/*//////////////////*/
/*/ FOOTER /*/
/*//////////////////*/

footer {
    position: fixed;
    bottom: 0;
    height: 2.5em;
    background-color: var(--achtergrond-kleur-menu);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

footer a{
    color: var(--kleur-text);
}

footer a:hover{
    color: var(--kleur-link);
}

.footerphone1, .footerphone2 {
    display: none;
}

@media screen and (max-width: 1000px) {
    .footer, .footerphone2{
        display: none;
    }

    .footerphone1{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .footer, .footerphone1{
        display: none;
    }

    .footerphone2{
        display: block;
    }
}
